.we-make {
    .container {
        display: flex;
        position: relative;
        gap: 0 24px;
        justify-content: space-between;
    }

    &__img-box {
        max-width: 465px;
        position: relative;

        img {
            @include clip-top-right;
        }

        &::before {
            content: "";
            background-color: $primary-color;
            top: 36px;
            right: 49px;
            width: calc(100% - 3px);
            height: calc(100% - 3px);
            position: absolute;
            z-index: -1;
            @include clip-top-right;
        }
    }

    &__content-box {
        max-width: 447px;
        width: 100%;
    }
}

.we-make__process {
    position: relative;
    min-height: 275px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        max-height: 275px;
        box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.39);
        filter: blur(2px);
        @include clip-bottom-right;
    }

    .btn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: max-content;
    }
}

.we-make__line {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 993px;
    height: 999px;
    display: none;
}
