<div id="process" class="modal video-provecess">
    <button class="btn" data-modal-close>x</button>
    <div class="modal-content">

        <video id="video" src="./assets/img/test-video.mp4" ></video>
        <div class="d-flex g-3">
            <button id="play" class="btn btn-primary">
                <svg>
                    <use href="#icon-triangle"></use>
                </svg>
            </button>
            <button id="pause" class="btn btn-primary">
                <svg>
                    <use href="#icon-pause"></use>
                </svg>
            </button>
            <button id="stop" class="btn btn-primary">
                <svg>
                    <use href="#icon-stop"></use>
                </svg>
            </button>

            <h3 id="html">HTML</h3>
            <h3 id="css">CSS</h3>
            <h3 id="js">JS</h3>
        </div>
    </div>
    <button class="btn btn-secondary" data-modal-close>close</button>
</div>

<div id="feedback" class="modal">
    <div class="modal-content">
        <h2>feedback</h2>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod sapiente molestiae iste a. Praesentium sunt incidunt corrupti voluptatibus id minima blanditiis iusto animi quis, aliquid perferendis cum similique, harum repellendus molestiae magnam mollitia eius? Omnis ducimus accusamus, dignissimos itaque accusantium, odio eos facilis neque, tempore perferendis consectetur impedit. Est nihil praesentium minima dolorum cum perferendis sequi consequuntur ex. Explicabo minima, repudiandae illo ullam soluta excepturi expedita modi fugit quas at ratione natus inventore reiciendis molestias distinctio pariatur qui? Dolorum omnis ut, totam quia quos corporis eius beatae, obcaecati facilis asperiores repellat quasi distinctio soluta veritatis laboriosam, aliquid vero. Adipisci, placeat.
    </div>
    <button class="btn btn-secondary" data-modal-close>close</button>
</div>

<div id="qwerty" class="modal">
    <div class="modal-content">
        <h2>qwerty</h2>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod sapiente molestiae iste a. Praesentium sunt incidunt corrupti voluptatibus id minima blanditiis iusto animi quis, aliquid perferendis cum similique, harum repellendus molestiae magnam mollitia eius? Omnis ducimus accusamus, dignissimos itaque accusantium, odio eos facilis neque, tempore perferendis consectetur impedit. Est nihil praesentium minima dolorum cum perferendis sequi consequuntur ex. Explicabo minima, repudiandae illo ullam soluta excepturi expedita modi fugit quas at ratione natus inventore reiciendis molestias distinctio pariatur qui? Dolorum omnis ut, totam quia quos corporis eius beatae, obcaecati facilis asperiores repellat quasi distinctio soluta veritatis laboriosam, aliquid vero. Adipisci, placeat.
    </div>
    <button class="btn btn-secondary" data-modal-close>close</button>
</div>
